extends base

block header
    a.brand(href="${request.route_url('home')}")
        i.icon-home
    .brand New Project

block content
    .container
        form(method='post')
            .control-group
                label.control-label(for='id_name') Name
                .controls
                    input#id_name.text.input-xlarge(type='text', name='name', value='Untitled_project')
            legend Area of interest
            .row
                .span6 Choose an existing area or Draw it yourself
                    #leaflet
                .span6 You can also
                    div
                        button.btn.btn-small Import OSM relation
            input#geometry(type='hidden', name='geometry')
            .form-actions
                input#id_submit.btn.btn-success(type='submit', value='OK', name='form.submitted', disabled='disabled')
    link(rel='stylesheet', href="${request.static_url('osmtm:static/js/lib/Leaflet.draw/dist/leaflet.draw.css')}")
    script(src="${request.static_url('osmtm:static/js/lib/leaflet.js')}")
    script(src="${request.static_url('osmtm:static/js/lib/Leaflet.draw/dist/leaflet.draw.js')}")
    script(src="${request.static_url('osmtm:static/js/project.new.js')}")
