<hr />
<h4>History</h4>
for step, index in history
    <%
    |first = "first" if index == 0 else ""
    |last = "last" if index == len(history) - 1 else ""
    %>
    div.history(class="${first} ${last}")
        if step.state == 1
            span <i class="icon-lock"></i> <b>Locked</b> by ${step.user.username}
        elif step.state == 2
            span <i class="icon-ok"></i> <b>Marked as done</b> by ${step.prev_user.username}
        elif step.state == 0 and step.old_state == 2
            span <i class="icon-thumbs-down"></i> <b>Invalidated</b> by ${step.user.username}
        else
            span Unlocked

        p.muted
            em.timeago(title="${step.update}")
if len(history) == 0
    div Nothing has happen yet.
script
    $('.timeago').timeago()
