div
    p
        div.btn-group
            button.btn.btn-small <i class="icon-share-alt"></i> Edit with
            button.btn.btn-small.dropdown-toggle(data-toggle="dropdown")
                span.caret
            ul.dropdown-menu
                li#josm
                    a JOSM
                li#iDeditor
                    a iD editor
                li#potlatch2
                    a Potlatch 2
                li#wp
                    a Walking Papers
        button.btn.btn-small.btn-link .osm
    p#task_actions
        if task.state == 0
            <%
            |disabled = ""
            |tooltip = ""
            |if locked_task is not None:
            |    disabled = "disabled"
            |    tooltip = "You cannot lock more than one task at a time."
            |else:
            |    tooltip = "Lock this task to tell others that you are currently working on it."
            %>
            a#lock.btn.btn-small.btn-primary(href="${request.route_url('task_lock', id=task.id)}", class="${disabled}", rel="tooltip", data-original-title="${tooltip}") <i class="icon-lock icon-white"></i> Lock
            if locked_task is not None
                span &nbsp;You already have a <a href="#task/${locked_task.id}">task</a> locked.
        if task.state == 1
            <%
            | username = 'you' if task.user == user else user.username
            %>
            p Task locked by <strong>${username}</strong>.&nbsp;
                if task.user == user
                    a#unlock(href="${request.route_url('task_unlock', id=task.id)}") Unlock
                endif
            if task.user == user
                form.form-horizontal(action="${request.route_url('task_done', id=task.id)}",method="POST")
                    p
                        button.btn.btn-success.btn-small(type="submit") Mark task as done
        if task.state == 2
            button.btn.thumbdown.input.btn-danger Invalidate
div
    <%include file="task.history.jade" />
<%
|from geoalchemy2 import shape
|import geojson
%>
script
    var task_geometry = ${geojson.dumps(shape.to_shape(task.geometry))|n};
    $('[rel=tooltip]').tooltip();
