div
    div
        p#export.well.well-small
            i.icon-share-alt
            button#josm.btn.btn-small JOSM
            button#potlatch2.btn.btn-small Potlatch 2
            button#wp.btn.btn-small Walking Papers
            button.btn.btn-small.btn-link .osm
    div#task_ations
        if task.state == 0
            a#lock.btn.btn-small.btn-primary(href="${request.route_url('task_lock', id=task.id)}") Lock
        endif
        if task.user == user.id and task.state == 1
            form.form-horizontal(action="${request.route_url('task_done', id=task.id)}",method="POST")
                p
                    a#unlock.btn.btn-small Unlock
                p
                    button.btn.btn-success.btn-small(type="submit") Mark task as done
        endif
        if task.state == 2
            button.btn.thumbdown.input.btn-danger Invalidate
        endif
<%
|from geoalchemy2 import shape
|import geojson
%>
script
    var task_geometry = ${geojson.dumps(shape.to_shape(task.geometry))|n};
